@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var memberService = ApplicationContext.Current.Services.MemberService;
    var membersActive = memberService.GetMembersByGroup("Active");
    var membersProspect = memberService.GetMembersByGroup("Prospect");
}

<div class="member-list">
<h2>Active Members</h2>
@foreach (var member in membersActive)
{
    string fullPath = member.GetValue("photo").ToString();
    string[] substrings = fullPath.Split(',');
    string srcString = substrings[2];
    string[] srcSubStrings = srcString.Split(':');
    string srcPath = srcSubStrings[1].Replace("\"", "");
    srcPath = srcPath.Replace("}", "");
    <div class="member row">

        <div class="member-img col-sm-3"><img class="img-responsive" src="@srcPath" /></div>

        <ul class="member-list col-sm-9">
            <li class="name">@(member.GetValue("firstname") + " " + member.GetValue("lastname"))</li>
            <li>@member.GetValue("address")</li>
            <li>@(member.GetValue("zip") + " " + member.GetValue("city"))</li>
            <li>Phone: @member.GetValue("mobile")</li>
        </ul>
    </div>

}
    <div class="row">
        <div class="col-sm-12">
            <h2>Prospect Members</h2>
            @foreach (var member in membersProspect)
            {
                <div class="member">
                    <ul class="member-list">
                        <li class="name">@(member.GetValue("firstname") + " " + member.GetValue("lastname"))</li>
                        <li>Phone: @member.GetValue("mobile")</li>
                    </ul>
                </div>

            }
        </div>
    </div>
        </div>